version: '3.8'

services:
  docs:
    build:
      context: .
      dockerfile: dockerfile
    container_name: crudcloud-docs
    restart: unless-stopped
    ports:
      - "3001:80"
    networks:
      - crudcloud-network

networks:
  crudcloud-network:
    external: true